<div class="my-3">
    <h3>Add Todo</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Todo Title</label>
            <input name="title" type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Todo Description</label>
            <textarea name="desc" class="form-control" id="exampleFormControlTextarea1" rows="3"
                [(ngModel)]="desc"></textarea>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-sm btn-primary" value="Add Todo">
        </div>
    </form>
</div>